<ion-view hide-back-button="true" view-title="Documents" name="documents-view">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="hero slide-up" style="background-image: url('img/splash.jpg');">
      <div class="content">
        <div class="avatar" style="background-image: url('img/ionic.png');"></div>
        <h3><a class="light">{{title}}</a></h3>
        <h4>{{subTitle}}</h4>
      </div>
    </div>
    <div class="tabs tabs-dark tabs-icon-top static">
      <a class="tab-item">
        <i class="icon ion-images"></i> Documents
      </a>
    </div>
      <ion-list show-delete="0" can-swipe="1" class="animate-fade-slide-in-right">
        <ion-item ng-repeat="document in documents" class="list-right-editing item-button-right">
          <ion-delete-button ng-click="" class="button-clear ion-minus-circled"></ion-delete-button>
          <h2>{{document.note}}</h2>
          <p>{{document.iddocument}}</p>
          <ion-option-button class="button-positive">Edit</ion-option-button>
          <ion-option-button class="button-info" ng-click="deleteDocument(document.iddocument)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>



