<ion-view view-title="Login" name="login-view" align-title="left">
  <ion-content style="background: url(img/blue-login.jpg) center; background-size: cover;">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"></div>
        <h1>REMBLI . COM</h1>
      </div>
    </div>
    <div class="list">
      <ion-md-input placeholder="Username" highlight-color="balanced" ng-model="loginData.username" type="text"></ion-md-input>
      <ion-md-input placeholder="Password" highlight-color="energized" ng-model="loginData.password" type="password"></ion-md-input>
    </div>
    <div class="padding">
      <button class="button button-full button-assertive ink" ng-click="login()">Login</button>
    </div>
  </ion-content>
</ion-view>
