  <div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Login to Rembli</h1>
      <button class="button button-clear button-positive" ng-click="cancelLogin()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form ng-submit="login(loginInfo)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Your username?" ng-model="loginInfo.username">
           </label>
          <label class="item item-input">
            <input type="password" placeholder="Your password?" ng-model="loginInfo.password">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Login</button>
        </div>
      </form>

    </ion-content>

  </div>

